docker/docker-monolith/infra/packer/variables.json
.vagrant/
*.tfstate
*.tfstate.*.backup
*.tfstate.lock.info
*.tfstate.backup
*.tfvars
.terraform/
*.retry
infra/*.log
.env
gitlab-ci/infra/ansible/inventory.gcp.yml
gitlab-ci/infra/ansible/roles
gitlab-ci/infra/ansible/vars/gitlab-runner.yml
Gitlab_ci
